.btn-primary {
  background-color: #40c057;
  position: absolute;
  bottom: 140px;
  right: 470px;
  font-size: 35px;
  font-weight: 700;
  border: 0px;
}
.btn-primary:hover,
.btn-primary:active {
  background-color: black !important;
}

.btn2 {
  background-color: black;
  position: absolute;
  bottom: 40px;
  right: 130px;
}

.btn2:hover,
.btn2:active {
  background-color: #40c057 !important;
}

.btn3 {
  background-color: black;
  position: absolute;
  bottom: 140px;
  right: 70px;
}

.btn3:hover,
.btn2:active {
  background-color: #40c057 !important;
}
