.btn-primary {
  background-color: #40c057;
  position: absolute;
  bottom: 40px;
  right: 745px;
  font-size: 35px;
  font-weight: 700;
  border: 0px;
}
.btn-primary:hover,
.btn-primary:active {
  background-color: black !important;
}

.btn2 {
  background-color: #e67700;
  position: absolute;
  bottom: 40px;
  right: 20px;
}

.btn2:hover,
.btn2:active {
  background-color: black !important;
}

.btn3 {
  background-color: #e67700;
  position: absolute;
  bottom: 40px;
  right: 350px;
}

.btn3:hover,
.btn2:active {
  background-color: black !important;
}
