*{
    margin: 0; padding: 0;
}

header{
    background-image: url('../images/recycle.jpg');
}

nav{
    background-color: black;
    width: 100%;
    height: 60px;
    opacity: 0.7;
}


.containerr{
    margin: 0px 0px 0px 0px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .containerr .logo{
    width: 25%;
    color: white;
}


nav .containerr .menu{
    width: 50%;
    display: flex; 
    justify-content: space-between;
}

nav .containerr .menu a{
    width: 25%;
    font-size: 24px;
    text-decoration: none;
    color: white;
    font-weight: 900;
    
}

.background{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
    url('../images/Picsart_23-04-17_21-28-46-332.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 980px;
    position: relative;

}

.uptagline{
    font-size: 70px;
    color:white;
    font-weight: 900;
    /* margin: 200px 0px 0px 80px; */
    position: absolute;
    top: 30px;
    right: 16px;
}

.downtagline{
    font-size: 100px;
    color:white;
    font-weight: 900;
    font-style: none;
    position: absolute;
    top: 150px;
    right: 16px;
}

.upstyledfont{
    font-style: italic;
    color: chartreuse;
    font-size: 100px;
}

.downstyledfont{
    font-size: 70px;
    color: chartreuse;
    font-weight: 900;
    font-style: italic;
    display: inline-block;
    position: absolute;
    top: 180px;
    right: 360px;
}

.btn-primary{
    background-color: chartreuse;
    position: absolute;
    bottom: 140px;
    right: 470px;
    font-size: 35px;
    font-weight: 700;
    border: 0px;
    
    
}
.btn-primary:hover, .btn-primary:active{
    background-color: black !important;
}

.btn-secondary{
    background-color: chartreuse;
    position: absolute;
    bottom: 140px;
    right: 260px;
    font-size: 35px;
    font-weight: 700;
    border: 0px;
}

.btn-secondary:hover, .btn-primary:active{
    background-color: black !important;
}

.content{
    font-size: 30px;
    position: absolute;
    bottom: 380px;
    right: 40px;
    font-weight: 700;
}

.statement{
    font-weight: 700;
    font-size: 50px;
    position: absolute;
    bottom: 280px;
    right: 20px;
}
.earthday{
    font-weight: 900;
    font-size: 50px;
    position: absolute;
    bottom: 220px;
    right: 350px;
    font-style: italic;
    color: chartreuse;
}
