body {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

#requests-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
}

#requests-container {
  background-color: #d3f9d8;
  /* height: 80px; */
  border: 2px solid #000;
  /* display: inline-block; */
}

.boxy {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
.margin-top {
  margin-top: 50px;
}
.map-btn {
  background-color: #0ca678;
  text-decoration: none;
  display: inline-block;
  width: 90px;
  text-align: center;
  border-radius: 5px;
}
